@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
}

body {
  @apply font-muli;
  @apply max-w-[440px] w-full mx-auto;
}

.bg-flash-sale {
  background-image: url(https://e-commerce-tuan-anh.s3.ap-southeast-1.amazonaws.com/bg-flash-sale.webp);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-origin: content-box;
  background-clip: border-box;
}

.coupon-transform {
  transform: rotate(147deg) perspective(1000px);
}

.countdown-item {
  background: rgba(255, 248, 248, 1);
  color: rgba(253, 163, 84, 1);
  font-size: 20px;
  padding-left: 2px;
  padding-right: 2px;
}

.animate-pulse {
  animation: pulse 0.6s cubic-bezier(0.4, 0.7, 0.6, 1) infinite;
}

.ant-card-body {
  padding: 0 !important;
}

.another-product-name {
  height: 56px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-card-actions li {
  margin: 0px !important;
}
.ant-card-actions li span:hover {
  color: white !important;
}

.animate-word-wrapper {
  transition: width 0.6s;
}
